@tailwind base;
@tailwind components;
@tailwind utilities;

.dashboard {
  display: grid;
  grid-template-columns: 240px 2fr 1fr;
  gap: 1rem;
  padding: 1rem;
}

.auth-button:hover {
  transform: translate(4px, -4px);
  box-shadow: -8px 8px 0 #171717;
}

.user-card:hover {
  transform: translate(4px, -4px);
  box-shadow: -8px 8px 0 #171717;
}

.user-card:hover img {
  transform: translate(4px, -4px);
  box-shadow: -8px 8px 0 #6366f1;
}

.img-card span {
  transform: translate(4px, -4px);
  box-shadow: -6px 6px 0 #171717;
}

.user-card:hover .stats {
  transform: translate(4px, -4px);
  box-shadow: -6px 6px 0 #171717;
}

.repo-card:hover {
  transform: translate(4px, -4px);
  box-shadow: -6px 6px 0 #171717;
}

.repo-card:hover span {
  transform: translate(4px, -4px);
  box-shadow: -6px 6px 0 #171717;
}
